<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title><%= title %></title>
</head>
<body>
<form method="post" action="form.ejs">
    <label>发表新文章</label>
    <textarea name="text" cols="100" rows="5"></textarea>
    <input type="submit" value="发表">
</form>
<div><%= message %></div>
</body>
</html>