<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>文章页面</title>
</head>
<body>
<h1><%= title %></h1>
<p><a href="/b">发布新文章</a></p>
<ul>
    <% items.forEach(function(item){%>
    <li><%= item.title %></li>
    <% })%>
</ul>
</body>
</html>